html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    text-align: right;
}

ol.breadcrumb {
    background-color: rgba(128, 0, 128, 0.1);
}

.jumbotron {
    background-color: rgba(128, 0, 128, 0.1);
}

a {
    color: #800080;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

#left-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 85%;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

#logo {
    height: 50px;
}

.customPopup .leaflet-popup-content-wrapper {
    font-size: 14px;
}